<app-home></app-home>
<h1 class="mt-5 mb-3">Reservation list</h1>
<table class="table table-striped" *ngIf="reservationList.length else noReservation">
  <thead>
  <th> Guest name</th>
  <th>Guest email</th>
  <th>Check-in</th>
  <th>Check-out</th>
  <th>Room number</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr *ngFor="let reservation of reservationList">
    <td>{{ reservation.guestName }}</td>
    <td>{{ reservation.guestEmail }}</td>
    <td>{{ reservation.checkInDate }}</td>
    <td>{{ reservation.checkOutDate }}</td>
    <td>{{ reservation.roomNumber }}</td>
    <td>
      <button class="btn btn-danger" (click)="deleteReservation(reservation.id)">Delete</button>
      <button class=" btn btn-sm btn-secondary mx-1 " [routerLink]="['/edit', reservation.id]">Edit</button>
    </td>

  </tr>
  </tbody>
</table>

<ng-template #noReservation>
  <div>No Reservation</div>
</ng-template>
