<div class="container">
  <div class="box">
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <label>Check-in Date</label>
      <input type="date" formControlName="checkInDate">
      <div *ngIf="reservationForm.get('checkInDate')?.invalid &&
       reservationForm.get('checkInDate')?.touched">
        Check-in date is required
      </div>


      <label>Check-out Date</label>
      <input type="date" formControlName="checkOutDate">
      <div *ngIf="reservationForm.get('checkOutDate')?.invalid &&
       reservationForm.get('checkOutDate')?.touched">
        Check-out date is required
      </div>

      <label>Guest Name</label>
      <input type="text" formControlName="guestName">
      <div *ngIf="reservationForm.get('guestName')?.invalid &&
       reservationForm.get('guestName')?.touched">
        Name form is required
      </div>

      <label>Guest email</label>
      <input type="email" formControlName="guestEmail">
      <div *ngIf="reservationForm.get('guestEmail')?.invalid &&
       reservationForm.get('guestEmail')?.touched">
        email form is required
      </div>


      <label>Room number</label>`
      <input type="number" formControlName="roomNumber">
      <div *ngIf="reservationForm.get('number')?.invalid
      && reservationForm.get('number')?.touched">
        Room number is required
      </div>

      <button type="submit" [disabled]="!reservationForm.valid">Submit</button>

    </form>
  </div>
</div>

